{% extends "base.html" %}

{% block title %}
Map!!@@@@
{% endblock %}

{% block main %}
<div id="mapid"></div>

{% endblock %}

{% block sidebar %}
 <img id="house" src="static/housepics/house.jpg">

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit leo, egestas vel justo nec, rhoncus commodo dolor. Phasellus eu orci mi. Morbi ex libero, congue at aliquam vitae, pulvinar id tortor. Fusce suscipit ligula magna, in tristique nisl commodo non. Proin in odio diam. In non faucibus ipsum. Vestibulum maximus, odio vitae elementum accumsan, leo nisi semper sem, ut lobortis nibh urna blandit sapien. Aliquam ante lacus, fermentum ut augue eget, condimentum finibus ipsum. Integer fringilla, nibh in faucibus porttitor, urna nisi vehicula purus, nec porta lorem enim sit amet eros. Proin fringilla arcu ac arcu dapibus, eget elementum lectus aliquam.
</p>
<p>
Donec vitae gravida felis, ac molestie elit. Mauris placerat aliquet dictum. Nam aliquam fringilla ex, interdum ullamcorper tellus euismod quis. Vivamus vestibulum bibendum leo, vitae sagittis quam scelerisque id. In ipsum erat, aliquet ut augue ut, tristique imperdiet enim. Aenean vitae eleifend quam. Etiam vulputate luctus lectus, non viverra eros pretium eu.
</p><p>Nullam maximus auctor tortor sit amet pharetra. Phasellus pulvinar molestie eros at semper. Duis eget consequat sem. Mauris finibus ex justo. Nunc aliquet consequat dolor, aliquam commodo nunc elementum vitae. Fusce consectetur convallis sapien, vitae rhoncus magna pharetra vel. Nulla bibendum velit quis nisl accumsan finibus. Etiam at maximus neque. Integer iaculis laoreet leo, at elementum dolor aliquam quis. In sed congue est, vitae commodo elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur porttitor urna fringilla tristique imperdiet. Phasellus a tristique eros, eget sagittis nisl.
</p>
<p>Proin id ex eget lorem facilisis tincidunt et eu lorem. Vestibulum posuere hendrerit erat id vehicula. Aliquam vitae mi nec nibh gravida ornare. Integer ullamcorper leo ut tellus fringilla egestas. In iaculis interdum magna nec egestas. Etiam mattis, velit non feugiat sagittis, quam libero faucibus leo, eu dignissim quam quam vel leo. Morbi nulla tortor, imperdiet a ultrices id, egestas eu elit. Sed nec tincidunt turpis, non luctus enim. Phasellus sit amet molestie eros. Maecenas non lectus mattis, lobortis ex eget, tincidunt le</p>

 {% endblock %}
